<header id="home" class="header">


  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RATP</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="#">RETOUR</a></li>
          <li ><a href="#">ACCUEIL</a></li>
          <li><a href="#">HORAIRE</a></li>
        </ul>
      </div>
    </nav>
    <img  src="/assets/img/busplan.png" width="1000px">

  </div>
  <div class="row bottom-message-section">
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon icon-fontawesome-webfont-358"></i> 94 Avenue Felix Faure, 75015 Paris
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon-fontawesome-webfont-286"></i> © Projet Ecole RATP 2017
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="short-text">
        <i class="icon-fontawesome-webfont-347"></i> <a [routerLink]="['/contact']">Nous Contacter</a>
      </div>
    </div>
  </div>

</header>
